# Dependencies
node_modules/

# Build output
dist/
target/
tmp/
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# IDE
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Tauri
src-tauri/target/
